<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tsaritsa | Chatting</title>
</head>

<body>
    <div id="chat-container">
        <div id="chat-output">
            <p>{{ chat_history }}</p>
        </div>
        <form action="/send_message" method="post">
            <textarea id="user-input" placeholder="Type your message"></textarea>
            <button id="send-button">Submit</button>
        </form>
    </div>

    <script src="static/script.js"></script>
</body>

</html>